/* FONT STYLES */
/* font-family: 'Anonymous Pro', monospace;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif; */

/* variables */
:root {
    --dark:#2C3532;
    --light:#FFCB9A;
    --lightTeal:#D2E8E3;
    --teal:#0F6466;
    --brown:#D8B08C;
}

/* global */
body {
    font-family: 'Hind Madurai', sans-serif;
    background-color:var(--light);
    color:var(--dark);
    
}

html {
    overflow-x: hidden;;
}




/* id */
#secretWord {
    font-family: 'Anonymous Pro', monospace;
    list-style-type: none;
}


/* class */
.active {
    color: black;  
}

.border-dark {

}

.btn {
    font-family:'Lora', serif;
    background-color:var(--dark);
    color:var(--lightTeal);
}

.btn:hover {
    background-color:var(--teal);
}

.correct {
    animation: correct 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    color:var(--teal);
}

.gamePlayContainer {
    height:42vh;
}

.headerbg {
    color:var(--lightTeal);
    background-color:var(--teal)
}

.scoreRow {
    overflow-x: hidden;

}

.selected {
    color: var(--lightTeal);
}

.startButton {
    background-color:var(--teal);
    color:var(--lightTeal);
    cursor: pointer;

}

.letters {
    /* width:10%; */
    flex-grow: 0;
    font-size: 1.5rem
}

.gameLetters {
    font-size: 3rem;
    margin: 0 1rem;
    transition: all 1s;
    border-bottom:solid 3px var(--dark) !important;
    width: 3rem;
    text-align: center;
    height:4rem;
    animation: append .3s cubic-bezier(0.47, 0, 0.745, 0.715);

}

.setHeight {
    height:250px;
}

.timeLeft {
    font-size:3rem;

}

.win {
    margin: 0 1.5rem;
    transform: scale(2);
    border-bottom:solid 3px var(--teal) !important;
}

/* animations */
@keyframes append {
	from {
		transform: scale(0);
		opacity: 0;
   
    
	}
	to {
		transform: scale(1);
		opacity: 1;	

  
	}
}

@keyframes correct {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}