/* FONT STYLES */
/* font-family: 'Anonymous Pro', monospace;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Lora', serif; */

/* variables */
:root {
    --dark: #2C3532;
    --light: #FFCB9A;
    --lightTeal: #D2E8E3;
    --teal: #0F6466;
    --brown: #D8B08C;
}

/* global */
body {
    font-family: 'Hind Madurai', sans-serif;
    background-color: var(--light);
    color: var(--dark);

}

html {
    overflow-x: hidden;
    ;
}




/* id */
#definition {
    background-color:rgba(238, 208, 182, 0.8);
    height:30%;
    opacity:0;
    transition:all 4s;
}

#secretWord {
    font-family: 'Anonymous Pro', monospace;
    list-style-type: none;
}


/* class */
.active {
    color: black;
}

.blur {
    filter: blur(.5rem) !important;
}


.btn {
    font-family: 'Lora', serif;
    background-color: var(--dark);
    color: var(--lightTeal);
}

.btn:hover {
    background-color: var(--teal);
}

.correct {
    animation: correct 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    color: var(--teal);
}

.defContain {
    font-family: 'Lora', serif;
}

.defContain h2 {
    display:inline;
    font-size:5rem;
}

.defContain h3 {
    display:inline;
  
    
}

.defContain hr {
    margin:.5rem;
    border-top: 4px solid var(--dark);
}

.defContain p {
    margin-bottom:.25rem;
    font-size:1.2rem;
}

.gamePlayContainer {
    height: 42vh;
}

.headerbg {
    color: var(--lightTeal);
    background-color: var(--teal)
}

.scoreRow {
    overflow-x: hidden;

}

.see {
    opacity:1 !important;
}

.selected {
    color: var(--lightTeal);
}

.startButton {
    background-color: var(--teal);
    color: var(--lightTeal);
    cursor: pointer;

}

.letters {
    /* width:10%; */
    flex-grow: 0;
    font-size: 1.5rem;
    transition: all 4s;
    filter:none;
}

.gameLetters {
    font-size: 3rem;
    margin: 0 1rem;
    transition: all 1s;
    border-bottom: solid 3px var(--dark) !important;
    width: 3rem;
    text-align: center;
    height: 4rem;
    animation: append .3s cubic-bezier(0.47, 0, 0.745, 0.715);

}

.setHeight {
    height: 250px;
}

.timeLeft {
    font-size: 3rem;

}

.win {
    margin: 0 1.5rem;
    transform: scale(2);
    border-bottom: solid 3px var(--teal) !important;
}

/* animations */
@keyframes append {
    from {
        transform: scale(0);
        opacity: 0;


    }

    to {
        transform: scale(1);
        opacity: 1;


    }
}

@keyframes correct {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width:992px) {

    .gameLetters {
        font-size: 2.5rem;
        width: 2.5rem;
        height: 3.5rem;
        margin: .5rem;
    }

    .win {
        margin: 0 04;
        transform: scale(1.3);
    }


}

@media screen and (max-width:768px) {
    .gameLetters {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 2rem;
        margin: .3rem;
    }

    .timer {
        order: -1;
        height: 150px;
    }

    .win {
        margin: 0;
    }
}

@media screen and (max-width:576px) {
    .gameLetters {
        font-size: 1.5rem;
        width: 1.5rem;
        height: 2rem;
        margin: .25rem;
    }

    .timer {
        order: -1;
    }

    .win {
        margin: 0;
    }
}